@font-face 
  font-family: 'icomoon'
  src:  url('../fonts/icomoon.eot?uxivi7')
  src:  url('../fonts/icomoon.eot?uxivi7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uxivi7') format('truetype'),
    url('../fonts/icomoon.woff?uxivi7') format('woff'),
    url('../fonts/icomoon.svg?uxivi7#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-点赞:before 
  content: "\e901"

.icon-home:before 
  content: "\e900"

.icon-envelop:before 
  content: "\e945"

.icon-compass:before 
  content: "\e949"

.icon-user:before 
  content: "\e971"

